body {
  font-family: 'Orbitron', sans-serif;
  margin-left: 40px;
  text-align: justify;
  background-image: url('/resources/images/telescope-galaxies.png');
  background-size: cover;
  color: #55aa55;
}

.title {
  font-family: 'Orbitron', sans-serif;
  font-size: 48pt;
  color: #cc0000;
  margin-bottom: 20px;
}

.page-links {
  margin-top: 10px;
  margin-bottom: 10px;
}

.page-link {
  margin-right: 15px;
  opacity: 0.7;
  color: skyblue;
  text-decoration: none;
}

.page-link:hover {
  animation-name: link-colour-change;
  animation-duration: 6s;
  animation-fill-mode: forwards;
}

#nso-link {
  opacity: 0.7;
  color: skyblue;
  text-decoration: none;
}

#nso-link:hover {
  animation-name: link-colour-change;
  animation-duration: 6s;
  animation-fill-mode: forwards;
}

@keyframes link-colour-change {
  34% {
    color: #55aa55;
  }
  67% {
    color: #cc0000;
  }
  100% {
    color: gold;
  }
}

.image-link {
  margin-left: 15px;
  text-decoration: none;
}

.sub-title {
  margin-left: 20px;
}

.list {
  margin-left: 20px;
}

#bio {
  margin-left: 40px;
  text-align: justify;
}

#welcoming-statement {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
}

#image-of-me-and-bobbie {
  width: 350px;
  max-width: 50%;
  height: auto;
  border-radius: 5% 15% 15% 15%;
  margin-top: 20px;
  display: block;
  box-shadow: 16px 16px 24px 24px rgba(0, 0, 0, 0.13),
    12px 12px 20px 12px rgba(0, 0, 0, 0.21),
    8px 8px 16px 8px rgba(0, 0, 0, 0.29), 4px 4px 12px 4px rgba(0, 0, 0, 0.38);
}

#expressjs-icon {
  width: 150px;
}

#html5-icon {
  margin-left: 15px;
}

#css3-icon {
  margin-left: 15px;
}

.square-icon {
  max-width: 30%;
  height: auto;
  border-radius: 10%;
  margin-top: 5px;
  display: inline-block;
  vertical-align: middle;
}

.square-icon:hover {
  animation-name: rotating-icon;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.rectangle-icon {
  max-width: 38%;
  height: auto;
  margin-top: 5px;
  display: inline-block;
  vertical-align: middle;
}

.rectangle-icon:hover {
  animation-name: rotating-icon;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.long-rectangle-icon {
  max-width: 50%;
  height: auto;
  margin-top: 5px;
  display: inline-block;
  vertical-align: middle;
}

.long-rectangle-icon:hover {
  animation-name: rotating-icon;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes rotating-icon {
  100% {
    transform: scale(1.2) rotate(10deg);
    opacity: 0.6;
  }
}
